<nav>
	<div class="navbar-fixed ">
		<nav>
	    <div class="nav-wrapper grey darken-4">
	      <a href="#" id="nav-logo" class="brand-logo left">IMDb</a>
	      <a id="collapse-icon" href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="left hide-on-med-and-down ">
	        <li><a href="#" class="active">HOME</a></li>
	        <li><a href="#">MOVIES</a></li>
	        <li><a href="#">TV SHOWS</a></li>
	        <li><a href="#">COLLECTIONS</a></li>
	        <li><a href="#">EVENTS</a></li>
	        <li><a href="#">NEWS</a></li>
	      </ul>
	      <ul id="nav-mobile2" class="right hide-on-med-and-down">
	        <li><a href="#"><i class="material-icons md-18">search</i></a></li>
	        <li><a href="#"><i class="material-icons md-18">visibility</i></a></li>
	        <li><a href="#" class="avatar"><i><img id="user-avatar" src="http://www.harassed.in/images/user.jpg"></i></a></li>
	      </ul>
	      
	    </div>
	  </nav>
	</div>
	<!-- Itens do collapse --><!--
  <ul class="side-nav" id="mobile-demo">
  	<li><a href="#" class="active">HOME</a></li>
  	<li><a href="#">MOVIES</a></li>
  	<li><a href="#">TV SHOWS</a></li>
  	<li><a href="#">COLLECTIONS</a></li>
  	<li><a href="#">EVENTS</a></li>
  	<li><a href="#">NEWS</a></li>
  	<li><a href="#" class="avatar"><i><img id="user-avatar" src="http://www.harassed.in/images/user.jpg"></i></a></li>
  </ul>
  -->
</nav>