@import url('https://fonts.googleapis.com/css?family=Anton');

#nav-logo {
	font-family: 'Anton', sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #FFD700;
	margin-left: 30px;
	text-decoration: none;
}

#nav-mobile {
	font-size: 21px;
	font-weight: bold;
	padding: 0px 20px 0px 20px;
	margin-left: 90px;
}

#nav-mobile li a, #nav-mobile2 li a {
	padding: 0px 20px 0px 20px;
	color: #808080;
}

nav ul li a:hover {
   color: white !important;
   text-decoration: none;
}

nav ul li a:link , a:visited , a:active {
 	text-decoration: none;
 	color: #808080;
}

#nav-mobile2 li {
	border-color: #2C2C2C !important;
	border-left: 1px solid;
}

.active {
  color: white !important;
}

.material-icons.md-18 { 
	font-size: 18px; 
}

.avatar {
    display: inline-block;
    height: 100%;
}

#user-avatar {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 3px;
}

#nav-container {
	overflow: hidden;
}