<!-- Site Body -->
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    	<div class="col-md-9"></div>
    	<div class="col-md-3">
    		<sidebar-main [list]="listBoxOffice" title="box office" indexed="true"></sidebar-main><br>
    		<sidebar-main [list]="listWeek" title="opening this week"></sidebar-main><br>
    		<sidebar-main [list]="listRealTime" title="real time" time="true"></sidebar-main>
    	</div>
		</div>
	</div>
</div>

<button (click)="addMovie()">Adicionar</button>